@font-face {
  font-family: tahoma;
}

body{
  font-family: tahoma;
  letter-spacing: 2px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    color: #666666;
    font-family: montserrat;
    scroll-behavior: smooth;
}
ul, nav{
    list-style: none;
}
a{
    text-decoration: none;
    opacity: .75;
    color: #fff;
}
a:hover{
    opacity: 1;
}
a.btn{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #4ECDC4;
    opacity: 1;
    border-radius: 50px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}
.content-area{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section h3.header-text{
    text-transform: capitalize;
    margin-bottom: 5px;
    text-align: center;
    font-size: 45px;
    color: #fff;
}
section h3.header-text span{
    color: #4ECDC4;
}
section p{
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #695b6b;
}

@media (max-width: 800px){
    section{
        padding: 50px 20px;
    }
    section h3.header-text{
        font-size: 30px;
    }
}

/*header */

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.604);
}
#chk1{
    display: none;
}
i{
    color: #fff;
    cursor: pointer;
}

header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid #4ECDC4;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0, 0, 0, 0.604);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transform: right 0.5s linear;
    }
    header .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }
}
@media(max-width:600px){
    header .logo{
        width: 100%;
    }
}


/* banner */

.banner-area{
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}
.banner-area .img-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-image: url(placeholder2.webp);
    background-position: center center;
}
.banner-area h1{
    margin-bottom: 15px;
    font-size: 65px;
}
.banner-area h1 span{
    color: #4ECDC4;
}
.banner-area h3{
    margin-bottom: 40px;
    font-size: 25px;
}
.banner-area a.btn{
    padding: 15px 30px;
}
.banner-text{
    opacity: 0;
    margin-top: 100px;
    animation: 1s text-ani 1s forwards;
}
@keyframes text-ani{
    100%{
        opacity: 1;
        margin: 0;
    }
}

@media (max-width: 800px){
    .banner-area{
        min-height: 600px;
    }
    .banner-area h1{
        font-size: 28px;
    }
    .banner-area h3{
        font-size: 24px;
    }
    .banner-area a.btn{
        padding: 15px 40px;
    }
}

/* info area */

.info-area{
    background: #1a1a1a;
}
p.socials a{
    width: 50px;
    height: 50px;
    display: inline-block;
    background: #FEE1A8;
    border-radius: 50px;
    margin: 0 10px;
}
.socials a i{
    line-height: 2.5;
    font-size: 20px;
}

/* services */

.services-area .content-area .single-service{
    height: 300px;
    padding: 20px;
    flex-basis: 30%;
    text-align: center;
    border-radius: 25px;
}
.services-area{
    background: #101010;
}


.single-service{
    transition: all 0.6s ease-in-out;
    background: #4ECDC4;
    margin: 0 auto;
}
.single-service h2{
    margin-bottom: 15px;
    color: #fff;
}
.single-service:hover{
    background: #FEE1A8;
}
.icon-area{
    width: 80px;
    height: 80px;
    display: inline-block;
    background: black;
    border-radius: 25px;
    margin-bottom: 20px;
}
.icon-area i{
    color: #fff;
    padding: 25px;
    font-size: 30px;
}
.single-service:hover .icon-area{
    background: #fff;
}
.single-service:hover .icon-area i{
    color: #101010;
}
.single-service:hover p{
    color: black;
}

@media (max-width: 1000px){
    .services-area .content-area .single-service{
        flex-basis: 30%;
    }
}

@media (max-width: 800px){
    .services-area .content-area .single-service{
            flex-basis: 100%;
        }

        .single-service{
            height: 350px !important;
            margin-bottom: 30px;
        }
}

/* work area */

.work-area,
.contact{
    background: #1a1a1a;
}
.work-area .content-area li{
    padding: 5px;
    flex-basis: 32%;
    text-align: center;
}
.work-area img{
    width: 100%;
}

@media (max-width: 800px){
    .work-area .content-area li{
        flex-basis: 100%;
        padding: 20px;
    }
}

/* contact section */

.contact .content-area .single-contact{
    height: 300px;
    padding: 20px;
    flex-basis: 50%;
    text-align: center;
}
.single-contact input{
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding: 15px;
}
.single-contact textarea{
    width: 100%;
    padding: 15px;
    border: none;
    margin-bottom: 25px;
}
.single-contact input[type="submit"]{
    background: #fe1e4f;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 800px){
    .contact .content-area .single-contact{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

/* newsletter */

.newsletter{
    background: #101010;
}
.newsletter form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    flex-direction: column;
}
.newsletter form .btn{
    padding: 20px 40px;
}
.newsletter form input{
    padding: 15px;
    font-size: 18px;
    width: 100%;
    margin: 25px 0;
    border-radius: 50px;
}

@media (max-width: 1000px){
    .newsletter form input{
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}

/* footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #101010;
    color: #fff;
    padding: 20px 0;
}
footer ul{
    display: flex;
}
footer ul li{
    margin-left: 16px;
}
footer p{
    font-size: 14px;
    opacity: 0.6;
    align-self: center;
}
footer p a{
    color: #fe1e4f;
}
.socials-2 a i{
    color: #fe1e4f;
    font-size: 20px;
    margin: 0 10px;
}

@media (max-width: 1000px){
    footer{
        flex-direction: column;
    }
    footer p{
        text-align: center;
        margin-bottom: 20px;
    }
}

#DB{
  width: 115px;
  padding: 10px;
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 10px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  background-color: inherit;
  font-family: tahoma;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
}

.navbar a:hover, .dropdown:hover .dropbtn {

  border-bottom: 2px solid #4ECDC4;
  font-family: tahoma;
  letter-spacing: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
  font-family: tahoma;
  letter-spacing: 2px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-bottom: 2px solid #4ECDC4;
  font-family: tahoma;
  letter-spacing: 2px;
}

.dropdown:hover .dropdown-content {
  display: block;
}





#DBfooter{
  width: 115px;
  padding: 10px;
}

#antonio{
  height: 400px;
}

#ian{
    height: 400px;
}

.container
{
    margin-top: 20px;
    width: 300px;
    position: relative;
}
.aboutus
{
    border-radius: 500px;
}

li h3{
  font-size: 2em;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #4ECDC4;
}

.container:hover .overlay {
  opacity: 90%;
  border-radius: 500px;
}

.text {
  font-family: tahoma;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*Footer*/



.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }

  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }


  #DB1{
    width: 100px;
  }
